.mainContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: white;
  border-radius: 20px;
  width: 90%;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.abstractIMG {
  position: absolute;
  z-index: 0;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(25%) blur(50px);
}

.containerConnectWallet {
  z-index: 1;
}

.containerConnectWallet svg {
  font-size: 50px;
  margin: 50px;
  z-index: 2;
}

.courseContainer h1,
p {
  padding: 20px;
  z-index: 1;
}

.courseContainer h1 {
  font-size: 28px;
}

.courseContainer p {
  font-size: 16px;
  font-style: italic;
}

.courseContainer button {
  max-width: 300px;
  z-index: 1;
}

.courseContainerIMG {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.courseContainerIMG img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoCourse {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.infoCourse span {
  padding: 10px;
  z-index: 1;
}

.infoCourse button {
  margin: 20px;
  width: 80%;
  z-index: 1;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.errorContainer strong {
  font-size: 16px;
  padding: 10px;
  z-index: 1;
}

.errorContainer em {
  font-size: 10px;
  z-index: 1;
  width: 80%;
  padding: 10px;
}

.errorContainer button {
  padding: 10px 20px;
  margin: 20px;
  max-width: 200px;
}

@media only screen and (min-width: 999px) {
  .courseContainer {
    width: 50%;
  }

  .courseContainer h1,
  p {
    text-align: center;
  }

  .courseContainer h1 {
    font-size: 48px;
  }

  .courseContainer p {
    font-size: 18px;
    max-width: 600px;
  }

  .abstractIMG {
    height: 220%;
  }

  .courseContainer button {
    font-size: 18px;
    width: 40%;
  }

  .courseContainerIMG {
    width: 300px;
    height: 300px;
  }

  .containerConnectWallet svg {
    font-size: 100px;
    margin: 50px;
  }

  .infoCourse span {
    font-size: 18px;
    padding: 10px;
  }

  .errorContainer strong {
    font-size: 22px;
  }
  .errorContainer em {
    font-size: 16px;
  }

  .errorContainer button {
    width: 40%;
  }
}
